*{
	box-sizing: border-box;
	font-family: 'Slabo 27px', serif;
	margin: 0;
	padding: 0;
}

html{
	background-color: #fcfcfc;
	height: 100vh;
	font-size: 100%;
}

body{
}

nav{
	background-color: #161616;
	color: #FCFCFC;
	height: 75px;
	width: 100%;
}

ul{
	display: inline-block;
	float: right;
	padding: 0px 0px 0px 0px;
	text-align: right;
	width: 70%;
}

li{
	background-color: #161616;
	font-family: Verdana, sans-serif;
	display: inline-block;
	height: 75px;
	padding: 27px 8px;
}

li:hover{
	border-bottom: 6px solid #cec406;
	color: #cec406;
}

h1.logo{
	width: 20%;
}

div.logo{
	display: inline-block;
	padding: 23px 0 15px 15px;
	width: 20%;
}

img{
	height: 62px;
	padding: 0;
	margin: 0;
	position: absolute;
	top: 4px;
	z-index: 30;
}

main{
	margin: 0 0% 0 0%;
}

a{
	color: #FCFCFC;
	text-decoration: none;
	padding: 29px 0;
}

.model{
	margin: 50px auto 0 auto;
	height: 60vh;
	width: 35vw;
	min-width: 300px;
	min-height: 500px;
}

.textStuff{
	float: right;
	margin: 100px 0 0 0;
	width: 25%;
}

h3{
	font-size: .85rem;
	margin: 15px 0;
}

#hamburger{
	display: none;
	float: right;
	margin: 13px 20px 0 0;
}

.burgerBun{
	background-color: #fcfcfc;
	height: 4px;
	margin: 9px 0 0 0;
	width: 40px;
}

#showcase{
	display: inline-block;
	text-align: center;
	margin: 0 auto;
	min-width: 300px;
	width: 100%;
}

img.miniPic{
	cursor: pointer;
	display: inline-block;
	height: auto;
	margin: 10px;
	position: static;
	width: 70px;
}

#hiddenPics{

}

#plaid1, #plaid2, #plaid3, #plaid4{
	display: none;
	height: 450px;
	margin: 50px auto 0px auto;
	min-width: 300px;
	min-height: 500px;
	position: static;
	width: auto;
}

@media (max-width: 800px){
	#hamburger{
		display: inline-block;
	}

	#listNav{
		display: none;
	}

	.textStuff{
		display: block;
		float: none;
		margin: 15px auto 0 auto;
		text-align: center;
		width: 100%;
	}

	h3{
		margin: 5px;
	}

	.model{
		margin: 15px auto 0 auto;
	}

	#plaid1, #plaid2, #plaid3, #plaid4{
		margin: 15px auto 0 auto;
	}
}