<!DOCTYPE html>
<html>
  <head>
    <title>Prototype</title>
    <meta name="description" content="Prototype for WebVR Shopping">
    <script src="https://aframe.io/releases/0.7.0/aframe.min.js"></script>
    <script src="https://cdn.rawgit.com/tizzle/aframe-orbit-controls-component/v0.1.14/dist/aframe-orbit-controls-component.min.js"></script>
    <script src="//cdn.rawgit.com/donmccurdy/aframe-extras/v3.13.1/dist/aframe-extras.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ static_url('css/style.css') }}">
    <link rel="icon" href="{{ static_url('images/mcIcon-01.png') }}">
    <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">

  </head>
  <body>
  <nav>
  	<div class="logo">
  		 <img src="{{ static_url('images/ubbLogo.png') }}">
  	</div>
  	<ul id="listNav">
  		<li><a href="#">BLOG</a></li>
  		<li><a href="#">SALE</a></li>
  		<li><a href="#">CAMP + HOME</a></li>
  		<li><a href="#">BAGS</a></li>
  		<li><a href="#">MEN</a></li>
  		<li><a href="#">WOMEN</a></li>
  		<li><a href="#">NEW ARRIVAL</a></li>
  	</ul>
    <div id="hamburger">
      <a href="#">
        <div class="burgerBun"></div>
        <div class="burgerBun"></div>
        <div class="burgerBun"></div>
      </a>
    </div>
  </nav>

  <main>
  	<div class="textStuff">
  		<h1>Red Flannel Shirt</h1>

  		<h3>FREE EXCHANGES + EASY RETURNS</h3>

  		<h2>$28.00</h2>

  		<h3>QTY</h3>
  	</div>
      <div id="hiddenPics">
          <img class="bigPic" id="plaid1" src="{{ static_url('images/plaid1.jpg') }}">
          <img class="bigPic" id="plaid2" src="{{ static_url('images/plaid2.jpg') }}">
          <img class="bigPic" id="plaid3" src="{{ static_url('images/plaid3.jpg') }}">
          <img class="bigPic" id="plaid4" src="{{ static_url('images/plaid4.jpg') }}">
      </div>

 	<!-- ______________________VR ZONE_____________________________-->


    <div class="model" style="">
      
      <a-scene class="scene" embedded inspector keyboard-shortcuts screenshot vr-mode-ui="enabled: false;">

       <a-entity id="camera" camera position="0 0 5" orbit-controls="
            target: #target;
            enableDamping: true;
            enableZoom: false;
            dampingFactor: 0.125;
            rotateSpeed:0.25;
            rotateToSpeed: 0.04;
            rotateTo: 0.172 4.140 2.797;
            logPosition: false;
            ">
        </a-entity>

        <a-entity id="target">
          <a-gltf-model position="0 -3 0" scale="3 3 3" id="mike" src="{{ static_url('mike_dancing/scene.gltf') }}" animation-mixer></a-gltf-model>
          <a-light type="ambient" color="#fff"></a-light>

        </a-entity>
        <a-sky color="#252525"></a-sky>
        <a-light></a-light>
        
    </a-scene>
    </div>
     <div id="showcase">
        <img onclick="reveal1()" class="miniPic" src="{{ static_url('images/plaid1.jpg') }}">
        <img onclick="reveal2()" class="miniPic" src="{{ static_url('images/plaid2.jpg') }}">
        <img onclick="reveal3()" class="miniPic" src="{{ static_url('images/plaid3.jpg') }}">
        <img onclick="reveal4()" class="miniPic" src="{{ static_url('images/vr.png') }}">
      </div>
    </main>
  </body>
  <script type="text/javascript" src="{{ static_url('js/fancy.js') }}"></script>
</html>